#cloud-config
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDZ96gMfmXHJzOmqmdDm90dd/cR6l7uO2mGrC4Srcapc0CLljD5uIrt+E3XSsO/MTqfXOFjQdKaBvULkuOAsuuzCRzz3tl+kVeLz4bT9n+kFAunrrFapEnADFbn06/ODS1eFT+u2z5yxhUGnFhPRDqn+6ITfahTLQvoc+qUWU4cJmG5rQE8ZOV5x1ITUUDpkmKmJGySHNeCXRj0ppNua4TTAAddvo0Yt5NIqswwY9aJMM4OC+HMC3LS/zBmAcuvJcC9gtN2XH2eY5mAUf3rrcWnS9FshwEttDNakYNrSNb+trw5wcvWKWwpPfxVv4XjpHJIU8Ol77o153E/ljjDYkKn RancherOS
